# Basic bot config
prefixes = [".", "!"]
token = "token-goes-here"
bot_description = "An attempt to rewrite the bot used in ReSwitched"
guild_whitelist = [
    526372255052201993,  # NotSwitched discord
    269333940928512010  # ReSwitched discord
]

source_url = "https://github.com/aveao/robocop-ng"

bot_manager_role_id = 1
staff_role_ids = [1, 2]
